.circle-menu-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    z-index: 200;
}

.circle-menu-toggle:hover .circle-menu-burger-bar {
    background: #000000;
}

.circle-menu-burger {
    padding-left: 0.3em;
}

.circle-menu-burger-bar {
    display: block;
    width: 1.2em;
    height: 0.2rem;
    background: #ffffff;
    margin-bottom: 0.3em;
    border-radius: 1em;
    transition: all 0.5s;
}

.circle-menu-burger-bar:last-child {
    margin-bottom: 0;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(1) {
    transform: rotateZ(-45deg) translateY(0.15em);
    width: 1.2em;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(2) {
    opacity: 0;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(3) {
    transform: rotateZ(45deg) translateY(-0.15em);
    width: 1.2em;
}

@media screen and (max-width: 768px) {
    .circle-menu-toggle {
        left: 1em;
    }
}