/* MenuToggle */

.circle-menu-toggle {
  position: relative;
  z-index: 200;
}

.circle-menu-burger-bar {
  display: block;
  width: 1.2em;
  height: 0.2rem;
  background: #000000;
  margin-bottom: 0.3em;
  border-radius: 1em;
  transition: all 0.5s;
}

.circle-menu-toggle:hover .circle-menu-burger-bar {
  background: #ffffff;
}

.circle-menu-burger-bar:last-child {
  margin-bottom: 0;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(1) {
  transform: translate(-0.1em, 0.17em) rotateZ(-40deg);
  width: 1.2em;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(2) {
  opacity: 0;
}

.circle-menu-active .circle-menu-toggle .circle-menu-burger-bar:nth-child(3) {
  transform: translate(-0.1em, -0.17em) rotateZ(40deg);
  width: 1.2em;
}
