.circle-button {
  border-width: 0.2em solid #000000;
  color: #000000;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  margin-right: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  transition: all 0.5s;
}

.circle-button:last-child {
  margin-right: 0;
}

.circle-button:hover {
  color: #ffffff;
  background: #000000;
}
