.circle-menu-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.circle-menu-item .circle-menu-item-icon {
  font-size: 1.8em;
}

.circle-menu-active .circle-menu-item {
  visibility: visible;
  opacity: 1;
}
